body {
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar, #project-page {
    height: 100vh;
}

#sidebar {
    background-color: #815854;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.sidebar {
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #815854;
    height: 6vh;
    width: 100%;
    padding: 1vh 0;
    border-radius: 10px;
    border: none;
    
    display: block;
}

.sidebar:hover {
    background-color: brown;
    font-size: 1.4rem;
}

#project-page  {
    background-color: #F9EBDE;
}

.project-button {
    display: flex;
}

#note-form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#note-form {
    width: 35%;
    height: 60%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
}

.inner-container {
    width: 70%;
}

#note-form label {
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 0.5vh;

    font-weight: bold;
    font-size: 17px;
}

#note-form input {
    box-sizing: border-box;
    padding: 1px 2px;
    width: 100%;
    height: 10%;
    border: 3px solid black;
    border-radius: 3px;
}

#note-form select {
    width: 100%;
    height: 10%;
    border: 3px solid black;
    border-radius: 3px;
}

#note-form textarea{
    resize: none;
    border: 3px solid black;
}

#note-form button {
    display: block;
    margin-top: 1vh;
    margin-left: auto;
}